@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');



* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}


.navbar-brand {
  font-weight: 700;
}

.nav-link {
  font-weight: 600;
}


.nav-item {
  padding: 0 1rem;
}

.title {
  padding-top: 5rem;
}
.Image__container {
  width: 40%;
  position: relative;
  margin: auto;
  padding-top: 2rem;
}
